@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Space+Mono&display=swap');


@font-face {
    font-family: 'Hallowed Grounds';
    src: url('../fonts/HallowedGrounds.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}